h2,.carousel-inner{
  padding: 50px 0;
}

.carousel-control-prev, .carousel-control-next{
  background-color: #FFB20E;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
  top: 55%;
}

.carousel-control-prev {
  transform: translateX(150px); 
}

.carousel-control-next {
  transform: translateX(-150px); 
}

.carousel-control-prev, .carousel-control-next {
  background-color: #FFB20E; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  opacity: 1;
}