<div class="custom-container d-flex align-items-center py-5 px-3 px-lg-0">
  <div class="white-container d-flex align-items-center">
    <div class="custom-col-left position-relative me-4"> <!-- Sử dụng margin-end -->
      <img src="https://storage.googleapis.com/a1aa/image/93pkkkAh_EpiuGSPrGusPy8ePbktxbxyls6U8-mKYY8.jpg" class="img-fluid rounded shadow custom-img" alt="Món ăn ngon với nguyên liệu tươi ngon">
    </div>
    <div class="custom-col-right">
      <h1 class="custom-heading-font display-4 mb-4">Chúng tôi cung cấp thực phẩm lành mạnh cho gia đình bạn.</h1>
      <p class="lead mb-4">- Câu chuyện của chúng tôi bắt đầu với tầm nhìn tạo ra một trải nghiệm ẩm thực độc đáo. Chúng tôi mong muốn hương vị tuyệt vời.</p>
      <p class="lead mb-4">- Tại đây, đội ngũ nhân viên của chúng tôi, nổi tiếng với sự nhiệt tình và tận tâm.</p>
      <button class="btn custom-button py-2 px-4 rounded-pill">Tìm hiểu thêm về chúng tôi</button>
    </div>
  </div>
</div>