<div class="container py-5 custom-background">
    <h1 class="text-center display-4 mb-5">Browse Our Menu</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                    <img src="https://storage.googleapis.com/a1aa/image/RKexJpa4muwhjMIFDQug9SlbYbxj65mPMzyBjomdS88.jpg" class="card-img-top mx-auto" alt="Icon of a coffee cup representing breakfast" style="width: 100px; height: 100px;">
                    <h5 class="card-title mt-3">Breakfast</h5>
                    <p class="card-text">In the new era of technology we look in the future with certainty and pride for our life.</p>
                    <a href="#" class="btn btn-link text-danger">Explore Menu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                    <img src="https://storage.googleapis.com/a1aa/image/6Raj5gU2pJtQCcBgdzYEVRr6rNhrLdgYYXbrGojp89c.jpg" class="card-img-top mx-auto" alt="Icon of a bowl representing main dishes" style="width: 100px; height: 100px;">
                    <h5 class="card-title mt-3">Main Dishes</h5>
                    <p class="card-text">In the new era of technology we look in the future with certainty and pride for our life.</p>
                    <a href="#" class="btn btn-link text-danger">Explore Menu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                    <img src="https://storage.googleapis.com/a1aa/image/MthikBB0MLEcL20-QMy14KuIeO9z-_suWNzDzyVO2DI.jpg" class="card-img-top mx-auto" alt="Icon of a drink representing drinks" style="width: 100px; height: 100px;">
                    <h5 class="card-title mt-3">Drinks</h5>
                    <p class="card-text">In the new era of technology we look in the future with certainty and pride for our life.</p>
                    <a href="#" class="btn btn-link text-danger">Explore Menu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                    <img src="https://storage.googleapis.com/a1aa/image/lTbHFgiNWQrb-oDbKbL4uplfVY5YjwT0VniD7_o1trI.jpg" class="card-img-top mx-auto" alt="Icon of a dessert representing desserts" style="width: 100px; height: 100px;">
                    <h5 class="card-title mt-3">Desserts</h5>
                    <p class="card-text">In the new era of technology we look in the future with certainty and pride for our life.</p>
                    <a href="#" class="btn btn-link text-danger">Explore Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
