// General container styling
.container {
  padding-top: 4rem;
}

// Crispy Sandwiches Section
.crispy-sandwiches {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  &-content {
    padding: 1.5rem;
  }

  &-image {
    padding: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
}

// Fried Chicken Section
.fried-chicken {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  &-image {
    padding: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }

  &-content {
    padding: 1.5rem;
  }
}

// Pizza Section
.pizza {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  &-content {
    padding: 1.5rem;
  }

  &-image {
    padding: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
}

// Button styling
.btn-warning {
  background-color: #ffc107;
  color: #fff;
  
  &:hover {
    background-color: #e0a800;
  }
}
