.custom-background {
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.browse_menu{
  color: #000000;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-img-top {
  transition: transform 0.3s ease;
  border-radius: 50%;
  object-fit: cover;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn {
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #d9534f;
  transform: translateY(-5px);
}

.browse-menu-text-center {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card-title {
      font-size: 1.25rem;
  }

  .card-text {
      font-size: 0.95rem;
  }

  .btn {
      font-size: 0.9rem;
  }
}
