.carousel {
  &--dark {
    background-color: #ffffff;
  }

  &__title {
    font-size: 2rem;
    color: #333;
  }

  &__inner {
    display: flex;
    overflow: hidden;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      display: block;
    }
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__card {
    width: 18rem;
    border-radius: 10px;
    overflow: hidden;
  }

  &__card-img-top {
    width: 100%;
    height: auto;
  }

  &__card-body {
    padding: 1rem;
  }

  &__card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__control {
    background-color: transparent;
    border: none;
    
    &--prev,
    &--next {
      font-size: 2rem;
      cursor: pointer;
    }

    &-icon {
      display: inline-block;
    }

    &-icon--prev,
    &-icon--next {
      color: #333;
    }
  }
}
