{{!-- <footer class="text-center py-3 mt-auto bg-light">
    <p>© 2025 Admin Panel. All Rights Reserved.</p>
</footer> --}}


    {{!-- footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        background: #f8f9fa;
        padding: 10px;
        text-align: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    } --}}
