<div class="container-best-deals">
  <!-- Card 1 -->
  <div class="card-deals mb-3">
    <div class="row g-0">
      <div class="col-11 img-container"> <!-- 90% ngang -->
        <img src="/img/bunbo.png" class="img-fluid rounded-start" alt="Image 1">
      </div>
      <div class="col-1 content-container"> <!-- 10% ngang -->
        <div class="card-body">
          <h5 class="card-title">Title 1</h5>
          <p class="card-text">This is some text for card 1.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card-deals mb-3">
    <div class="row g-0">
      <div class="col-1 content-container"> <!-- 10% ngang -->
        <div class="card-body">
          <h5 class="card-title">Title 2</h5>
          <p class="card-text">This is some text for card 2.</p>
        </div>
      </div>
      <div class="col-11 img-container"> <!-- 90% ngang -->
        <img src="/img/bunbo.png" class="img-fluid rounded-start" alt="Image 2">
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card-deals mb-3">
    <div class="row g-0">
      <div class="col-11 img-container"> <!-- 90% ngang -->
        <img src="/img/bunbo.png" class="img-fluid rounded-start" alt="Image 3">
      </div>
      <div class="col-1 content-container"> <!-- 10% ngang -->
        <div class="card-body">
          <h5 class="card-title">Title 3</h5>
          <p class="card-text">This is some text for card 3.</p>
        </div>
      </div>
    </div>
  </div>
</div>
