<div class="header-nav container-fluid mt-0">
    <h1 class="text_1">Bạn có đang đói?</h1>
    <p class="text_2">Đừng để chiếc bụng đói chờ lâu – tìm ngay những bữa ăn ngon lành!</p>
    <div class="container-home mt-5">
        <div class="card" style="width: 40rem; padding: 3.5rem;">
            <form class="form-inline justify-content-center">
                <div class="form-group">
                    <input class="form-control" type="search" placeholder="Tìm quán ăn và thức uống" aria-label="Search">
                </div>
                <button class="btn btn-primary ml-2" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
</div>