<div class="container-bg-intro">
  <div class="box-chef">
    <img src="/img/bunbo.png" alt="Chef Image">
  </div>
  <div class="box-foods"> <!-- Wrapper chứa 2 box-food -->
    <div class="box-food-1">
      <img src="/img/bunbo.png" alt="Food Image 1">
    </div>
    <div class="box-food-2">
      <img src="/img/bunbo.png" alt="Food Image 2">
    </div>
  </div>
  <div class="box-contact">
    <h2>Giao hàng nhanh trong thành phố</h2>
    <p>Our visual designer lets you quickly and of drag a down your way to customapps for both keep desktop</p>
    <h6>Giao trong 30 phút</h6>
    <h6>Ưu đãi & giá tốt nhất</h6>
    <h6>Dịch vụ trực tuyến có sẵn</h6>
  </div>
</div>
