<div class="container-browse text-center my-5">
    <h2 class="fw-bold">Browse Our Menu</h2>
   <div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card browse-card">
                <div class="card-body">                    
                    <img src="/icon/cup.svg" alt="cup"  width="45" height="45">
                    <h5 class="card-title">Bữa Sáng</h5>
                    <p class="card-text">Bữa sáng là nguồn năng lượng giúp bạn vượt qua cả ngày.</p>
                    <a href="#" class="card-link">Khám phá menu</a>
                </div>
            </div>
        </div>
        <div class="col-3">
                <div class="card browse-card">
                <div class="card-body">
                    <img src="/icon/noodle.svg" alt="cup" color="#474747" width="45" height="45">
                    <h5 class="card-title">Bữa chính</h5>
                    <p class="card-text">Dù bận rộn thế nào, đừng bao giờ bỏ bữa trưa!</p>
                    <a href="#" class="card-link">Khám phá menu</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card browse-card">
                <div class="card-body">
                    <img src="/icon/orange.svg" alt="cup"  width="45" height="45">
                    <h5 class="card-title">Thức uống</h5>
                    <p class="card-text">Uống vào những suy nghĩ tích cực!</p>
                    <a href="#" class="card-link">Khám phá menu</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card browse-card">
                <div class="card-body">
                    <img src="/icon/ice_cream.svg" alt="cup"  width="45" height="45">
                    <h5 class="card-title">Tráng miệng</h5>
                    <p class="card-text">Ăn nhiều tráng miệng hơn, bớt căng thẳng đi!</p>
                    <a href="#" class="card-link">Khám phá menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
