<div class="flash-deal-container">
    <h1 class="flash-deal-title">FLASH DEAL</h1>
    <div class="flash-deal-row">
        <div class="flash-deal-card">
            <img src="https://storage.googleapis.com/a1aa/image/6BNSC4_hOfKnUVEs2EH7naBDd1cdcXnW3TmFEyQEDlE.jpg" class="flash-deal-img" alt="Bún Bò Huế">
            <div class="flash-deal-body">
                <span class="flash-deal-badge">15% Off</span>
                <h5 class="flash-deal-name">Bún Bò Huế</h5>
                <p class="flash-deal-timer">3 tiếng 38 phút 50 giây</p>
            </div>
        </div>
        <div class="flash-deal-card">
            <img src="https://storage.googleapis.com/a1aa/image/Y7TGu1B6vMkP7QCA8EmnQWgWuNCrp5X4LbKrf1UMsh0.jpg" class="flash-deal-img" alt="Phở Bò">
            <div class="flash-deal-body">
                <span class="flash-deal-badge">10% Off</span>
                <h5 class="flash-deal-name">Phở Bò</h5>
                <p class="flash-deal-timer">3 tiếng 38 phút 50 giây</p>
            </div>
        </div>
        <div class="flash-deal-card">
            <img src="https://storage.googleapis.com/a1aa/image/FxjYU42PFbTmpaLphAnEYI9J6vOqUJFq9lq_Oah2iEo.jpg" class="flash-deal-img" alt="King Burger">
            <div class="flash-deal-body">
                <span class="flash-deal-badge">25% Off</span>
                <h5 class="flash-deal-name">King Burger</h5>
                <p class="flash-deal-timer">3 tiếng 38 phút 50 giây</p>
            </div>
        </div>
        <div class="flash-deal-card">
            <img src="https://storage.googleapis.com/a1aa/image/bBxgHt9OPsRREDoY8mUpMi-2gG2JtyeB82VYH2iPaDk.jpg" class="flash-deal-img" alt="KOI Thé">
            <div class="flash-deal-body">
                <span class="flash-deal-badge">20% Off</span>
                <h5 class="flash-deal-name">KOI Thé</h5>
                <p class="flash-deal-timer">3 tiếng 38 phút 50 giây</p>
            </div>
        </div>
    </div>
</div>
