<h1 class="flashdeal">FLASH DEAL</h1>

<div class="container-fd">
<div class="card" style="width: 18rem;">
    <div class="img-container">
  <img src="/img/bunbo.png" class="card-img-top" alt="...">
  <span class="discount-badge">-20%</span> <!-- Nhãn giảm giá -->
    </div>
  <div class="card-body">
    <p class="card-text">Bún bò.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="img-container">
    <img src="/img/phobo.jpg" class="card-img-top" alt="...">
    <span class="discount-badge">-20%</span> <!-- Nhãn giảm giá -->
  </div>
  <div class="card-body">
    <p class="card-text">Phở bò.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="img-container">
  <img src="/img/comsuon.jpg" class="card-img-top" alt="...">
  <span class="discount-badge">-20%</span> <!-- Nhãn giảm giá -->
    </div>
  <div class="card-body">
    <p class="card-text">Cơm sườn.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="img-container">
  <img src="/img/hutieu.jpg" class="card-img-top" alt="...">
  <span class="discount-badge">-20%</span> <!-- Nhãn giảm giá -->
    </div>
  <div class="card-body">
    <p class="card-text">Hủ tiếu nam vang.</p>
  </div>
</div>
</div>