<footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-md-start">
            <div class="row">
                <!-- Cột 1: Thông tin thương hiệu -->
                <div class="col-md-4">
                    <h5 class="fw-bold text-uppercase">Foodparadise</h5>
                    <p>Chào mừng đến với Foodparadise, nơi bạn có thể tìm thấy những món ăn ngon nhất.</p>
                </div>

                <!-- Cột 2: Liên kết nhanh -->
                <div class="col-md-2">
                    <h5 class="fw-bold text-uppercase">Liên kết nhanh</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                        <li><a href="#" class="text-white text-decoration-none">About</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Menu</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                    </ul>
                </div>

                <!-- Cột 3: Theo dõi chúng tôi -->
                <div class="col-md-2">
                    <h5 class="fw-bold text-uppercase">Theo dõi chúng tôi</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>

                <!-- Cột 4: Đăng ký email -->
                <div class="col-md-4">
                    <h5 class="fw-bold text-uppercase">Nhận ưu đãi</h5>
                    <form class="input-group">
                        <input type="email" class="form-control" placeholder="Nhập email của bạn">
                        <button class="btn btn-warning subscribe-btn" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>

            <hr class="my-4 border-light">

            <!-- Dòng cuối cùng -->
            <div class="row text-center">
                <div class="col-md-6">
                    <p class="mb-0">© 2025 Foodparadise. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <a href="#" class="text-white text-decoration-none me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white text-decoration-none me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>