<div class="menu-wrapper">
    <div class="menu-container py-5">
        <div class="text-center mb-5">
            <h1 class="display-4">Our Menu</h1>
            <p class="lead">
                We consider all the drivers of change gives you the components you need to change to create a truly happens.
            </p>
        </div>
            <div class="d-flex justify-content-center mb-4">
                <button class="btn btn-light text-dark mx-2">All</button>
                <button class="btn btn-dark mx-2 ">Breakfast</button>
                <button class="btn btn-dark mx-2 ">Main Dishes</button>
                <button class="btn btn-dark mx-2 ">Drinks</button>
                <button class="btn btn-dark mx-2 ">Desserts</button>
            </div>


        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/twxs4XbKqEOGfz3NBsPr2yySQbo1UIhAqB07hUouSIY.jpg" class="card-img-top" alt="Fried Eggs">
                    <div class="card-body">
                        <h5 class="card-title">$ 9.99</h5>
                        <p class="card-text">Fried Eggs</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/z6xWl4rdSPkRMTniugmnryASWd073TTMSOl-Ow5_NTw.jpg" class="card-img-top" alt="Hawaiian Pizza">
                    <div class="card-body">
                        <h5 class="card-title">$ 15.99</h5>
                        <p class="card-text">Hawaiian Pizza</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/9MFkaWUJlkm17Qb6vOXjRKeAwGAIqsmw1W4tlDDRwP0.jpg" class="card-img-top" alt="Martinez Cocktail">
                    <div class="card-body">
                        <h5 class="card-title">$ 7.25</h5>
                        <p class="card-text">Martinez Cocktail</p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/x-cVP9eYTt4kB7MuMwD-KCGkKURHELKIF9DXw2x5agk.jpg" class="card-img-top" alt="Butterscotch Cake">
                    <div class="card-body">
                        <h5 class="card-title">$ 20.99</h5>
                        <p class="card-text">Butterscotch Cake</p>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/CMAIxxVCFL3pSt87ZoStoHAQ2KwE8Rz81u0_r1LDJac.jpg" class="card-img-top" alt="Mint Lemonade">
                    <div class="card-body">
                        <h5 class="card-title">$ 5.89</h5>
                        <p class="card-text">Mint Lemonade</p>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/5vQmE_DUbwVnb4Hzfg9ILYgwf_rqAuCysdfFkFFW5hI.jpg" class="card-img-top" alt="Chocolate Icecream">
                    <div class="card-body">
                        <h5 class="card-title">$ 18.05</h5>
                        <p class="card-text">Chocolate Icecream</p>
                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/RhsKGJHWTHPzn9oQP1Z4vQxU1qPN6rJPRd5alc8O5AA.jpg" class="card-img-top" alt="Cheese Burger">
                    <div class="card-body">
                        <h5 class="card-title">$ 12.55</h5>
                        <p class="card-text">Cheese Burger</p>
                    </div>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-sm-6 col-lg-3">
                <div class="card menu-item">
                    <img src="https://storage.googleapis.com/a1aa/image/Suov2OlXCdxQCOEre4WTok_laQny5l8UDxGH-fAiFIQ.jpg" class="card-img-top" alt="Classic Waffles">
                    <div class="card-body">
                        <h5 class="card-title">$ 12.99</h5>
                        <p class="card-text">Classic Waffles</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
