// _variables.scss
$orange-color: #ffa500;
$black-color: #000000;

$text-color: #444;
$font-stack: 'Arial', sans-serif;
$background-color: #1C1C1C; // Xám đậm (Dark Gray)
$primary-color: #ff6600;
$secondary-color: #ff9900;
$text-color: #333;
$background-color: #f8f9fa;