<table class="table table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Quyền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {{#each accounts}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.email}}</td>
            <td>
                <select class="form-select">
                    <option {{#if (eq this.role "User")}}selected{{/if}}>User</option>
                    <option {{#if (eq this.role "Admin")}}selected{{/if}}>Admin</option>
                </select>
            </td>
            <td>
                {{#if (eq this.status "Hoạt động")}}
                    <span class="badge bg-success">Hoạt động</span>
                {{else}}
                    <span class="badge bg-danger">Bị khóa</span>
                {{/if}}
            </td>
            <td>
                {{> accounts/actions id=this.id }}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
