<div class="order-section">
    <img src="https://storage.googleapis.com/a1aa/image/acalQCVA7HWRZD3ihvrF9Sx_B7O627Y_x91oRuxcivA.jpg" alt="A bowl of fresh salad with cucumbers, tomatoes, and other vegetables" class="background-image-left">
    <img src="https://storage.googleapis.com/a1aa/image/VF6bZ0E6wazReAG8JMvo7CtOPLtcskzbsqKy6mroSzo.jpg" alt="A bowl of french fries and a piece of fried chicken" class="background-image-right">
    <div class="content">
        <h1 class="text-white">Bạn đã sẵn sàng đặt hàng với những ưu đãi tốt nhất chưa?</h1>
        <button class="order-button">BẮT ĐẦU ĐẶT HÀNG</button>
    </div>
</div>

