<div class="container py-5 custom-background">
    <h1 class="browse-menu-text text-center display-4 mb-5">Khám Phá Thực Đơn Của Chúng Tôi</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
            <div class="browse-menu-card card text-center h-100 shadow-lg border-light">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/6192/6192074.png" class="card-img-top mx-auto mb-3" alt="Biểu tượng cốc cà phê đại diện cho bữa sáng" style="width: 100px; height: 100px;">
                    <h5 class="card-title">Bữa Sáng</h5>
                    <p class="card-text">Thưởng thức những món ăn sáng ngon miệng, tuyệt vời để bắt đầu ngày mới.</p>
                    <a href="#" class="btn btn-danger text-white btn-lg">Khám Phá Thực Đơn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="browse-menu-card card text-center h-100 shadow-lg border-light">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/282/282527.png" class="card-img-top mx-auto mb-3" alt="Biểu tượng bát đại diện cho món chính" style="width: 100px; height: 100px;">
                    <h5 class="card-title">Món Chính</h5>
                    <p class="card-text">Hãy thưởng thức hương vị phong phú của các món chính, được chế biến tinh tế cho mọi khẩu vị.</p>
                    <a href="#" class="btn btn-danger text-white btn-lg">Khám Phá Thực Đơn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="browse-menu-card card text-center h-100 shadow-lg border-light">
                <div class="card-body">
                    <img src="img/drink.png" class="card-img-top mx-auto mb-3" alt="Biểu tượng đồ uống đại diện cho các món nước" style="width: 100px; height: 100px;">
                    <h5 class="card-title">Đồ Uống</h5>
                    <p class="card-text">Giải khát với các loại đồ uống tươi mát, từ nước ép đến sinh tố và nhiều hơn nữa.</p>
                    <a href="#" class="btn btn-danger text-white btn-lg">Khám Phá Thực Đơn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="browse-menu-card card text-center h-100 shadow-lg border-light">
                <div class="card-body">
                    <img src="img/ice-cream.png" class="card-img-top mx-auto mb-3" alt="Biểu tượng món tráng miệng đại diện cho các món tráng miệng" style="width: 100px; height: 100px;">
                    <h5 class="card-title">Món Tráng Miệng</h5>
                    <p class="card-text">Hãy tự thưởng cho mình những món tráng miệng ngọt ngào để kết thúc bữa ăn một cách trọn vẹn.</p>
                    <a href="#" class="btn btn-danger text-white btn-lg">Khám Phá Thực Đơn</a>
                </div>
            </div>
        </div>
    </div>
</div>
