<div id="popular-items-carousel" class="carousel carousel--dark slide" data-bs-ride="carousel">
  <h2 class="carousel__title text-center">Những món ăn phổ biến</h2>
  <div class="carousel__inner">
    {{#each items}}
    <!-- Slide 1 -->
    <div class="carousel__item {{#if @first}}carousel__item--active{{/if}}">
      <div class="carousel__card-wrapper container-sm d-flex justify-content-between">
        {{#each this}}
        <div class="carousel__card" style="width: 18rem;">
          <img src="{{imageUrl}}" class="carousel__card-img-top" alt="{{title}}">
          <div class="carousel__card-body">
            <h5 class="carousel__card-title">{{title}}</h5>
            <p>{{description}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
  <button class="carousel__control carousel__control--prev" type="button" data-bs-target="#popular-items-carousel" data-bs-slide="prev">
    <span class="carousel__control-icon carousel__control-icon--prev" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel__control carousel__control--next" type="button" data-bs-target="#popular-items-carousel" data-bs-slide="next">
    <span class="carousel__control-icon carousel__control-icon--next" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
